:root {
    /*COLORS*/
    --bg-button-base: #DED262;
    --bg-effect-base: #000000af;
    --text-base-tags: #fff;
    --text-base-info: #000; 
    --text-effect-tags: #DED262;
    --bg-button-effect: #66602d;
}

